<body>
  <!-- back -->
  <div style="padding-top: 100px; padding-left: 3%; color: #ffffff">
    <!-- <a (click)="goBack()" style="cursor: pointer"> -->
    <a>
      <h3>< Back</h3>
    </a>
  </div>

  <div
    style="
      font-size: xx-large;
      color: #fff;
      padding-left: 15%;
      padding-top: 2%;
      font-weight: bold;
    "
  >
    <span>Admin</span>
  </div>

  <div *ngIf="profile" class="member">
    <div *ngFor="let user of profile" class="card">
      <img src="{{ user.imgUser }}" class="imgPro" />
      <div class="user">
        <h2>{{ user.username }}</h2>
        <span>{{ user.email }}</span>
      </div>
    </div>
  </div>
</body>
