<body>
  <!-- back -->
  <div style="padding-top: 100px; padding-left: 3%; color: #ffffff">
    <!-- <a (click)="goBack()" style="cursor: pointer"> -->

  </div>

  <div style="
      font-size: xx-large;
      color: #fff;
      padding-left: 15%;
      padding-top: 2%;
      font-weight: bold;
    ">
    <span>Admin</span>
  </div>

  <div *ngIf="profile" class="member">
    <div *ngFor="let user of profile" class="card" [routerLink]="['/profile']"
      [queryParams]="{ id: this.id , userID: user?.userID}">
      <img class="imgPro" src="https://i.pinimg.com/550x/13/d9/7d/13d97d540be78ef119a9e357b76816a1.jpg"
        *ngIf="user.imgUser === null">
      <img class="imgPro" [src]="user.imgUser" *ngIf="user.imgUser !== null">

      <div class="user">
        <h2>{{ user.username }}</h2>
        <span>{{ user.email }}</span>
      </div>
    </div>
  </div>

</body>