<body>
  <div style="padding-top: 100px; padding-left: 3%; color: #ffffff; width: 70px">
    <a (click)="goBack()" style="cursor: pointer; text-decoration: none">
      <h3>
        < Back</h3>
    </a>
  </div>

  <!-- card -->
  <div class="edit">
    <div class="card" *ngFor="let edit of editShow">
      <div class="imgDetails">
        <div style="display: flex; justify-content: center; align-items: center">
          <ng-container *ngIf="!(user && user.typeID === 2); else not">
            <input class="example-form-field" matInput value="{{ edit.imgName }}" #imgName name="imgName"
              style="text-align: center" />
            <div class="btn1">
              <button mat-raised-button color="primary" style="height: 50px; background-color: rgb(12, 134, 12) "
                (click)="confirmUpdateProfile(imgID, imgName.value)" *ngIf="edit">
                <span>Save</span>
              </button>
            </div>
          </ng-container>
          <ng-template #not>
            <div class="bordered-span">{{ edit.imgName }}</div>
          </ng-template>
        </div>
        <div matTooltip="Click on the picture to change." style="cursor: pointer;">
          <input type="file" #fileUpload style="display: none" (change)="onFileSelected($event)">
          <img [src]="edit.url" width="300px" alt="" class="img" (click)="fileUpload.click()"/>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
          <button mat-icon-button style="color: red" aria-label="Example icon-button with share icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <span style="color: #ffffff">{{ edit.total_score }}</span>&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      <div class="rank">

        <div class="card2">
          <div class="incard2">
            <span>Current</span>
            <span *ngIf="current">{{ current.rank }}</span>
          </div>
          <div class="incard2" *ngIf="image">
            <span>Previous</span>
            <div *ngFor="let item of image; let i = index">
              <span>{{ NowRank[i] }}</span>
            </div>
          </div>
          <div class="incard2">
            <span>Summary</span>
            <div style="display: flex; align-items: center; justify-content: center">
              <ng-container *ngFor="let item of image; let i = index">
                <ng-container *ngIf="current && NowRank[i] !== undefined">
                  <!-- ตรวจสอบว่าอันดับเมื่อวานขเท่ากับอันดับปัจจุบันหรือไม่ หรือถ้าไม่มีอันดับปัจจุบันเลย จะขึ้น new-->
                  <ng-container *ngIf="NowRank[i] - current.rank === 0 || NowRank[i] === 'new!!'">
                    <mat-icon class="remove">remove</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="NowRank[i] - current.rank > 0">
                    <mat-icon style="color: green">arrow_drop_up</mat-icon>
                    &nbsp;+{{ NowRank[i] - current.rank }}
                  </ng-container>
                  <ng-container *ngIf="NowRank[i] - current.rank < 0">
                    <mat-icon style="color: red">arrow_drop_down</mat-icon>
                    &nbsp;-{{ current.rank - NowRank[i] }}
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>

        </div>
        <div class="graph">
          <p-chart type="line" [data]="data" [options]="options"> </p-chart>
        </div>
      </div>
    </div>
  </div>
</body>