.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: #ebe6e0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.btn {
  margin-right: 35px;
  font-size: large;
}

.demo-table {
  width: 100%;
}

table {
  width: 100%;
}
.member {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
  display: flex;
  flex-direction: column;
}
.card {
  background-color: rgba(255, 255, 255, 0.812);
  border-radius: 20px; 
  display: flex;
  // justify-content: center;
  width: 100%;
  padding: 1%;
  align-items: center;
  font-size: larger;
  margin-bottom: 20px;
}

.member th,
.member td {
  width: calc(100% / 6);
}

td{
  display: flex;
  justify-content: center;
}

mat-icon{
  font-size: 60px !important;
  width: 60px !important;
  height: 60px !important;
}