.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar {
    background-color: #ebe6e0;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .btn {
    margin-right: 35px;
    font-size: large;
  }

  .demo-table {
    width: 100%;
  }
  