<body>
  <div style="padding-top: 100px; padding-left: 3%; color: #ffffff; width: 70px">
    <a (click)="goBack()" style="cursor: pointer; text-decoration: none;">
      <h3>
        < Back</h3>
    </a>
  </div>
  <!-- <div *ngIf="urlShow"> -->
  <div class="profile">
    <!-- <div class="profile1"> -->
    <ng-container *ngFor="let show of urlShowAll">
      <div class="details" *ngIf="!userID || (this.userID === this.id); else notMatching">
        <div matTooltip="Click on the picture to change." style="cursor: pointer;">
          <input type="file" #fileUpload style="display: none" (change)="onFileSelected($event, 1)">
          <img class="imgPro" src="https://i.pinimg.com/550x/13/d9/7d/13d97d540be78ef119a9e357b76816a1.jpg" *ngIf="show.imgUser === null" (click)="fileUpload.click()">
          <img class="imgPro" [src]="show.imgUser" *ngIf="show.imgUser !== null" (click)="fileUpload.click()">
        </div>
        
        <div>
          <span class="in">Username</span>
          <input class="example-form-field" matInput value="{{show.username}}" #username name="username" />
          <span class="in">Email</span>
          <input class="example-form-field" matInput value="{{show.email}}" #email name="email" />
          <span class="in">Password</span>
          <input class="example-form-field" matInput value="{{show.password}}" #password name="password" />
          <span class="in">Confirm Password</span>
          <input class="example-form-field" matInput #confirmPassword name="confirmPassword" />
          <div *ngIf="password.value !== confirmPassword.value && confirmPassword.value !== ''" style="color: red;">Passwords do not match</div>
        </div>

        <button mat-raised-button color="primary" style="margin-top: 5%"
          [disabled]="password.value !== confirmPassword.value && confirmPassword.value === ''"
          (click)="confirmPassword.value === password.value && confirmUpdateProfile(id, username.value, email.value, password.value)">
          <span>Save</span>
        </button>
      </div>
    </ng-container>

    <ng-template #notMatching>
      <ng-container *ngFor="let show of urlShowAll">
        <div class="details">
          <img class="imgPro" src="https://i.pinimg.com/550x/13/d9/7d/13d97d540be78ef119a9e357b76816a1.jpg"
            *ngIf="show.imgUser === null">

          <img class="imgPro" [src]="show.imgUser" *ngIf="show.imgUser !== null">
          <div>
            <span class="in">Username</span>
            <div class="bordered-span">{{ show.username }}</div>
            <span class="in">Email</span>
            <div class="bordered-span">{{ show.email }}</div>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <div class="card">
      <div class="Upload">
        <!-- ใช้ ng-container เพื่อรองรับการใช้งาน *ngFor และ *ngIf พร้อมกัน -->
        <ng-container *ngIf="urlShow">
          <!-- วนลูปแสดงรูปภาพทั้งหมดใน urlShows -->
          <div class="image-container" *ngFor="let url of urlShow">
            <ng-container *ngIf="!userID || (this.userID === this.id); else not">
              <a [routerLink]="['/edit']" [queryParams]="{  id: user?.userID, imgID: url.imgID }">
                <img [src]="url.url" alt="User Image">
              </a>
            </ng-container>
            <ng-template #not>
              <img [src]="url.url" alt="User Image">
            </ng-template>
            <button mat-icon-button class="delete-icon" (click)="removeImage(url.imgID)">
              <mat-icon style="color: rgb(13, 10, 10); font-weight: bold;">bookmark_remove</mat-icon>
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="!userID || (this.userID === this.id);">
          <button *ngIf="urlShow.length < 5" class="circle-button" (click)="fileUpload.click()">
            <span>+</span>
            <input type="file" (change)="onFileSelected($event, 0)" #fileUpload style="display: none;">
          </button>
          <button *ngIf="urlShow.length >= 5" class="circle-button" disabled>
            <span>+</span>
            <input type="file" style="display: none;">
          </button>
        </ng-container>

      </div>
    </div>

  </div>
</body>