.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: #ebe6e0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.btn {
  margin-right: 35px;
  font-size: large;
}

.card {
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 2%;
  align-items: center;
}

.profile {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
  display: flex;
  align-items: center;
}


.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 13%;
  color: #fff;
}
.imgPro {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 200px; /* ปรับขนาดตามที่ต้องการ */
  height: 200px; /* ปรับขนาดตามที่ต้องการ */
}

.example-form-field {
  border: 0;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  width: 260px;
}
.in {
  display: block;
  text-align: left;
  margin-top: 5%;
}

.Upload {
  display: grid;
  grid-template-rows: repeat(
    2,
    1fr
  ); /* แบ่งพื้นที่ในแนวดิ่งเป็น 2 ส่วนที่มีขนาดเท่ากัน */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* แบ่งพื้นที่ในแนวนอนเป็น 3 ส่วนที่มีขนาดเท่ากัน */
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.Upload button {
  place-self: center; /* จัดตำแหน่งของปุ่มให้อยู่กึ่งกลาง */
}
.Upload img {
  object-fit: cover;
  object-position: center;
  width: 225px; /* ปรับขนาดตามที่ต้องการ */
  height: 255px; /* ปรับขนาดตามที่ต้องการ */
}
.circle-button {
  border-radius: 50%; /* ทำให้เป็นวงกลมโดยกำหนดค่าความโค้งที่ 50% */
  width: 150px; /* กำหนดขนาดความกว้าง */
  height: 150px; /* กำหนดขนาดความสูง */
  background-color: #ccc; /* กำหนดสีพื้นหลัง */
  border: none; /* ลบเส้นขอบ */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นแบบชี้ */
  display: flex; /* กำหนดให้เนื้อหาภายในปุ่มอยู่กึ่งกลาง */
  justify-content: center; /* จัดเนื้อหาในแนวนอน */
  align-items: center; /* จัดเนื้อหาในแนวตั้ง */
  font-size: 80px;
}

h3{
  margin: 0;
}

.image-container {
  position: relative;
  display: inline-block;
}

.delete-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
.bordered-span {
  display: flex;
  padding: 5px;
  background-color: #ebe6e0;
  // border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  color: #000;
}


