<body>

    <div style="padding: 10%;">
        <div class="allcard">
            <div class="on_card">
                <div style="color: aliceblue;">
                    <span style="font-size: xx-large;">Choose your favorite character image.</span><br>
                    <span style="font-size: medium;">เลือกภาพตัวละครที่คุณชื่นชอบ</span>
                </div>
                <br>
                <div style="display: flex; flex-wrap: wrap; gap: 20px;" *ngIf="canVote">
                    <!-- card 1 -->
                    <mat-card class="example-card">
                        <div *ngIf="img1">
                            <mat-card-header *ngIf="user1">
                                <div mat-card-avatar class="header-image" (click)="Choose_route1()">
                                    <img src="{{user1.imgUser}}" width="60px">
                                </div>
                                <div style="font-size: xx-large; margin-left: 20px;">
                                    <span>{{user1.username}}</span>
                                </div>
                            </mat-card-header>
                            <div style="display: flex; margin-left: 20px;">
                                <img mat-card-image src="{{img1.url}}" class="imgPro" (click)="vote(imgid1, imgid2, 1)">
                            </div>
                            <mat-card-actions>
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"
                                    style="color: red;"></mat-icon>
                                <span> {{scord1}}</span>
                            </mat-card-actions>
                            <div style=" display: flex; font-size: x-large; margin-left: 100px;">
                                <span>{{ img1.imgName}}</span>
                            </div>
                        </div>
                    </mat-card>


                    <!-- card 2 -->
                    <mat-card class="example-card" style="margin-left: 100px;">
                        <div *ngIf="img2">
                            <mat-card-header *ngIf="user2">
                                <div mat-card-avatar class="header-image" (click)="Choose_route2()">
                                    <img src="{{user2.imgUser}}" width="60px">
                                </div>
                                <div style="font-size: xx-large; margin-left: 20px;">
                                    <span>{{user2.username}}</span>
                                </div>
                            </mat-card-header>
                            <div style="display: flex; margin-left: 20px;">
                                <img mat-card-image src="{{img2.url}}" class="imgPro" (click)="vote(imgid2, imgid1, 1)">
                            </div>
                            <mat-card-actions>
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"
                                    style="color: red;"></mat-icon>
                                <span> {{scord2}}</span>
                            </mat-card-actions>
                            <div style=" display: flex; font-size: x-large; margin-left: 100px;">
                                <span>{{ img2.imgName}}</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div *ngIf="!canVote" class="load">
                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                    <p>Please wait {{ countdown }} seconds before voting again.</p>
                </div>
            </div>
        </div>
    </div>

</body>