<body>
  <div style="padding: 10%">
    <div class="allcard">
      <div class="on_card">
        <div style="color: aliceblue">
          <span style="font-size: xx-large">Choose your favorite character image.</span><br />
          <span style="font-size: medium">เลือกภาพตัวละครที่คุณชื่นชอบ</span>
        </div>
        <br />
        <!-- loader -->
        <ng-template #loader>
          <div class="loader">
            <div class="loader__balls">
              <div class="loader__balls__group">
                <div class="ball item1"></div>
                <div class="ball item1"></div>
                <div class="ball item1"></div>
              </div>
              <div class="loader__balls__group">
                <div class="ball item2"></div>
                <div class="ball item2"></div>
                <div class="ball item2"></div>
              </div>
              <div class="loader__balls__group">
                <div class="ball item3"></div>
                <div class="ball item3"></div>
                <div class="ball item3"></div>
              </div>
            </div>
          </div>
        </ng-template>
        <div style="display: flex; flex-wrap: wrap; gap: 20px" *ngIf="canVote && img1 && img2 else loader">
          <!-- card 1 -->
          <mat-card class="example-card">
            <div *ngIf="img1">
              <mat-card-header *ngIf="user && user1">
                <div mat-card-avatar class="header-image" (click)="Choose_route1()">
                  <img src="https://i.pinimg.com/550x/13/d9/7d/13d97d540be78ef119a9e357b76816a1.jpg" width="60px"
                    *ngIf="user1.imgUser === null" />

                  <img src="{{ user1.imgUser }}" width="60px" *ngIf="user1.imgUser !== null" />
                </div>
                <div style="font-size: xx-large; margin-left: 20px">
                  <span>{{ user1.username }}</span>
                </div>
              </mat-card-header>
              <div style="display: flex; margin-left: 20px">
                <img mat-card-image src="{{ img1.url }}" class="imgPro" (click)="vote(imgid1, imgid2, 1)" />
              </div>
              <mat-card-actions>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"
                  style="color: red"></mat-icon>
                <span> {{ scord1 }}</span>
              </mat-card-actions>
              <div style="display: flex; font-size: x-large; margin-left: 100px">
                <span>{{ img1.imgName }}</span>
              </div>
            </div>
          </mat-card>

          <!-- card 2 -->
          <mat-card class="example-card" style="margin-left: 100px">
            <div *ngIf="img2">
              <mat-card-header *ngIf="user && user2">
                <div mat-card-avatar class="header-image" (click)="Choose_route2()">
                  <img src="https://i.pinimg.com/550x/13/d9/7d/13d97d540be78ef119a9e357b76816a1.jpg" width="60px"
                    *ngIf="user2.imgUser === null" />
                  <img src="{{ user2.imgUser }}" width="60px" *ngIf="user2.imgUser !== null" />
                </div>
                <div style="font-size: xx-large; margin-left: 20px">
                  <span>{{ user2.username }}</span>
                </div>
              </mat-card-header>
              <div style="display: flex; margin-left: 20px">
                <img mat-card-image src="{{ img2.url }}" class="imgPro" (click)="vote(imgid2, imgid1, 0)" />
              </div>
              <mat-card-actions>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"
                  style="color: red"></mat-icon>
                <span> {{ scord2 }}</span>
              </mat-card-actions>
              <div style="display: flex; font-size: x-large; margin-left: 100px">
                <span>{{ img2.imgName }}</span>
              </div>
            </div>
          </mat-card>
        </div>
        <div *ngIf="!canVote" class="load">
          <!-- การคำนวณคะเเนนโหวต -->
          <p>Please wait {{ countdown }} seconds before voting again.</p>
          <div class="ratings-container" style="width: 100%; justify-content: center;">
            <span style="display: flex; justify-content: center;">Img Left  {{ RatingA }}</span>
            <span style="display: flex; justify-content: center;">Img Right {{ RatingB }}</span>
          </div><br>
          <b><span style="font-size: x-large; color: rgb(255, 184, 96);">การคำนวณคะเเนนโหวต Elo Rating Algorithm</span></b>
          <span style="color: rgb(255, 184, 96)">Calculate Expected Score</span>
          <span>WinScore -> 1 / (1 + 10 ** (({{this.scord2}} - {{this.scord1}}) / 400)) = {{winScore}}</span>
          <span>LoseScore -> 1 / (1 + 10 ** (({{this.scord1}} - {{this.scord2}}) / 400)) = {{loseScore}}</span>
          <br>
          <span style="color:  rgb(255, 184, 96)">Calculate New Score</span>
          <ng-container *ngIf="this.check == 1" >
            <span>WIN Left -> {{K}} * (1 - {{winScore}}) = {{RatingA}}</span>
            <span>LOSE Right -> {{K}} * (0 - {{loseScore}}) = {{RatingB}};</span>
          </ng-container>
          <ng-container *ngIf="this.check == 0" >
            <span>LOSE Left -> {{K}} * (0 - {{winScore}}) = {{RatingA}}</span>
            <span>WIN Rigth -> {{K}}* (1 - {{loseScore}}) = {{RatingB}}</span>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</body>